= form_for(@railcar) do |f|
  - if @railcar.errors.any?
    #error_explanation
      %h2
        = pluralize(@railcar.errors.count, "error")
        prohibited this railcar from being saved:
      %ul
        - @railcar.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :lower_seats
    %br/
    = f.text_field :lower_seats
  .field
    = f.label :upper_seats
    %br/
    = f.text_field :upper_seats
  .field
    = f.label :train
    %br
      = f.collection_select :train_id, Train.all, :id, :number

  %button{:name => "button", :type => "submit"} Сохранить