%tr
  %td= railcar.upper_seat_number
  %td= railcar.lower_seat_number
  %td= railcar.railcar_type.railcar_type
  %td= link_to 'Show', railcar
  %td= link_to 'Edit', edit_railcar_path(railcar)
  %td= link_to 'Destroy', railcar, method: :delete, data: { confirm: 'Are you sure?' }